<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Update Facilities</title>
    <div th:include="~{fragments/common :: css}"></div>
    <div th:include="~{fragments/common :: js}"></div>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navibar(activeLink=${activeLink})}"></nav>

    <div class="container">
        <div class="text-center my-4">
            <h2>Update Facility</h2>
        </div>

        <div class="row justify-content-center">
            <div class="card" style="width: 60rem;">
                <div class="card-body">
                    <form th:action="@{/reservations/{reservationId}/update-facilities(reservationId=${reservationDTO.id})}" 
                             th:object="${reservationDTO}" method="POST">
                        <input class="form-control"  type="hidden" th:field="*{nikPatient}" />
                        <input class="form-control"  type="hidden" th:field="*{room.id}"  />
                        <input class="form-control"  type="hidden" th:field="*{dateIn}"  />
                        <input class="form-control"  type="hidden" th:field="*{patient.id}" />
                        <input class="form-control"  type="hidden" th:field="*{id}" />   
                        <input class="form-control"  type="hidden" th:field="*{patient.name}"  />                        
                        <input class="form-control"  type="hidden" th:field="*{dateOut}"  />                        
                        <input class="form-control" type="hidden" th:field="*{nurse.id}"  />


                        <div class="form-group row my-3">
                            <label for="room" class="col-sm-2 fw-bold col-form-label">Room</label>
                            <p class="col-sm-1 fw-bold col-form-label">:</p>
                            <div class="col-sm-9">
                                <!-- <input class="form-control" type="text" id="room" 
                                    th:field="${reservationDTO.room}" 
                                    th:value="|${reservationDTO.room.name} (Rp${#numbers.formatDecimal(reservationDTO.room.pricePerDay, 1, ',', '.')} /Day, ${reservationDTO.quotaRoom} Quota Available, Max ${reservationDTO.room.maxCapacity} Pax)|" 
                                    readonly /> -->
                                
                                    <input class="form-control" type="text" id="room" th:field="*{room.name}" required readonly/>
                            </div>                                                                               
                        </div>
                        

                        <div class="form-group column my-3">
                            <label for="facilities" class="col-sm-2 fw-bold col-form-label">Facilities:</label>
                            <table class="table">
                                <th class="d-flex justify-content-end">
                                    <button class="btn btn-primary" type="submit" name="addRow">Add Row</button>
                                </th>
                                <tbody>
                                    <tr th:each="facility, iterationStatus : *{facilities}">
                                        <td>
                                            <select th:field="*{facilities[__${iterationStatus.index}__].id}" class="form-control">
                                                <option th:each="facilityExisting : ${listFacilitiesExisting}" 
                                                        th:value="${facilityExisting.id}" 
                                                        th:text="${facilityExisting.name} + ' (+Rp ' + ${facilityExisting.fee} + ')'">
                                                </option>
                                            </select>
                                            
                                        </td>
                                        <td>
                                            <button th:value="${iterationStatus.index}" class="btn btn-danger"
                                                    type="submit" name="deleteRow">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            
                        </div>

                        <div class="text-left m-3">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <a class="btn btn-primary" href="/reservations/{reservationId}">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>