<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Card</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- Tambahkan Bootstrap untuk styling -->
</head>
<body>
    <div th:fragment="project-card(proyek)" style="width: 40rem;">
        <div class="card" style="width: 40rem;">
            <div class="card-body">
                <!-- Judul Proyek -->
                <h5 th:text="${proyek.nama}" class="card-title row my-3"></h5>
                
                <!-- Daftar Pekerja -->
                <div class="row" th:if="${proyek.listPekerja.size} != 0">
                    <h6 class="card-subtitle row my-3">Pekerja: </h6>
                    <ul th:each="pekerja : ${proyek.listPekerja}" class="d-flex flex-row">
                        <li th:text="${pekerja.nama}"></li>
                    </ul>
                </div>

                <!-- Nama Developer -->
                <h6 th:if="${proyek.developer != null}" th:text="'Nama Developer : ' + ${proyek.developer.nama}"
                    class="card-subtitle row my-3"></h6>
                <h6 th:if="${proyek.developer == null}" th:text="'Nama Developer : -'"
                    class="card-subtitle row my-3"></h6>

                <!-- Status Proyek -->
                <h6 th:text="'Status : ' + ${proyek.status}" class="card-subtitle row my-3"></h6>

                <!-- Tombol Aksi -->
                <div class="row my-3">
                    <a type="button" class="btn btn-md btn-primary col-sm-2 mx-2"
                       th:href="@{/proyek/{idProyek}(idProyek=${proyek.id})}">Detail
                    </a>
                    <a type="button" class="btn btn-md btn-warning col-sm-2 mx-2"
                       th:href="@{/proyek/{idProyek}/update(idProyek=${proyek.id})}">Update
                    </a>
                    <a type="button" class="btn btn-md btn-danger col-sm-2 mx-2"
                       th:href="@{/proyek/{idProyek}/delete(idProyek=${proyek.id})}">Delete
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
