<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"/>
    <title>Upgrade Class</title>
    <style>
        .form-select {
            width: 100%;
            white-space: normal;
        }
    </style>
</head>

<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>

<div class="container">
    <div class="text-center my-4"></div>
    <div class="row justify-content-center">
        <h2 style="text-align: center">Upgrade Patient Class</h2>
        <div class="card" style="width: 30rem;">
            <div class="card-body">
                <form th:action="@{/patient/upgrade-class}" th:object="${patientDTO}" method="POST">
                    <input class="form-control" type="hidden" th:field="*{id}" th:value="*{id}"/></input>
                    <input class="form-control" type="hidden" th:field="*{name}" th:value="*{name}"/></input>
                    <input class="form-control" type="hidden" th:field="*{nik}" th:value="*{nik}"/></input>
                    <input class="form-control" type="hidden" th:field="*{gender}" th:value="*{gender}"/></input>
                    <input class="form-control" type="hidden" th:field="*{birthDate}" th:value="*{birthDate}"/></input>
                    <input class="form-control" type="hidden" th:field="*{email}" th:value="*{email}"/></input>

                    <div class="col-12">
                        <div class="row my-3">
                            <p class="card-text fw-bold col-sm-4">NIK</p>
                            <p class="card-text fw-bold col-sm-1" style="width: 2%">:</p>
                            <p class="card-text col-sm-7" th:text="${patient.nik}"></p>
                        </div>

                        <div class="row my-3">
                            <p class="card-text fw-bold col-sm-4">Name</p>
                            <p class="card-text fw-bold col-sm-1" style="width: 2%">:</p>
                            <p class="card-text col-sm-7" th:text="${patient.name}"></p>
                        </div>

                        <div class="row my-3">
                            <p class="card-text fw-bold col-sm-4">Date of Birth</p>
                            <p class="card-text fw-bold col-sm-1" style="width: 2%">:</p>
                            <div class="col-sm-7">
                                <p class="card-text mb-0" th:text="${#dates.format(patient.birthDate, 'dd MMMM yyyy')}"></p>
                                <p class="card-text" style="margin-top: 0;" th:text="${patient.convertDateToAge()}"></p>
                            </div>
                        </div>

                        <div class="row my-3">
                            <p class="card-text fw-bold col-sm-4">Class</p>
                            <p class="card-text fw-bold col-sm-1" style="width: 2%">:</p>
                            <div class="col-sm-7">
                                <select class="form-select mt-2" th:field="*{piClass}" th:value="*{piClass}">
                                    <option th:selected="${patientDTO.piClass == 1}" value="1" th:disabled="${patient.pClass == 1}">
                                        Class 1 - Limit Rp100.000.000,00
                                    </option>
                                    <option th:selected="${patientDTO.piClass == 2}" value="2" th:disabled="${patient.pClass == 2 or patient.pClass == 1}">
                                        Class 2 - Limit Rp50.000.000,00
                                    </option>
                                    <option th:selected="${patientDTO.piClass == 3}" value="3" th:disabled="${patient.pClass == 3 or patient.pClass == 2 or patient.pClass == 1}">
                                        Class 3 - Limit Rp25.000.000,00
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="text-center">
                            <a class="btn btn-danger me-2" href="/policy/all">Back</a>
                            <button class="btn btn-primary" type="submit">Continue</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
